.history-card {
    flex: 1 1;
    padding: 16px;
    border-radius: 16px;
    max-width: calc(48% - 20px);
    flex-basis: calc(50% - 20px);
    backdrop-filter: blur(8.2px);
    -webkit-backdrop-filter: blur(8.2px);
    background: rgba(255, 255, 255, 0.46);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.08);
}